body {
    background-color: #FEFFAC;
}

.settings,
.quiz ,
.final {
    padding: 10px;
    border: 1px solid #FFB6D9;
    border-radius: 10px;
    background-color: #45FFCA;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.settings h3 {
    text-align: center;
}

.y-margin {
    margin: 10px 0px;
}
.x-margin{
    margin: 0px 5px;
}

.amountElement {
    color: #D67BFF;

}

input[type=radio]:checked.difficulty-radio {
    accent-color: #FFB6D9;
}

.startBTN {
    background-color: #FFB6D9;
    border: 1px solid #FEFFAC;
    border-radius: 10px;
    cursor: pointer;
    color: white;
}

.startBTN:hover {
    opacity: 0.8;
}
.quiz{
    display: flex;
    flex-direction: column;
}
.question {
    margin-bottom: 20px;

}
.answers,.backBtn, .nextBtn, .tryAgainBtn{
    border: 1px solid #FEFFAC ;
    background-color: #FEFFAC;
    border-radius: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    text-transform: capitalize;
    font-weight: bold;

}
.numberOfQuestion{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: bold;
}
.control{
    
    transform: translate(43%, 0%);
    }
.backBtn, .nextBtn{
}
.final{
    display: block;
    text-align: center;
}
